<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">



<!-- Navbar -->
<nav class="fixed top-0 left-0 w-full bg-blue-600 text-white p-4 shadow-md z-50">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl font-bold"><a href="{% url 'home' %}"><img src="https://media.prothomalo.com/prothomalo/import/default/2016/03/15/4d3620a7127d4a031a05a962fcc4b253-palo-logo.jpg" alt="prothom alo"class="w-10 h-10 object-contain"></a></h1>
        <ul class="flex gap-6 font-semibold">
            <li><a href="{% url 'home' %}" class="hover:text-gray-200">Home</a></li>
            <li><a href="{% url 'home' %}#news" class="hover:text-gray-200">News</a></li>
            <li><a href="{% url 'home' %}#post" class="hover:text-gray-200">Post</a></li>
            <li><a href="{% url 'contact' %}" class="hover:text-gray-200">Contact</a></li>
        </ul>
    </div>
</nav>





<!-- Main Content -->
 
    <!-- News Section -->
   <main class="pt-6"> 
      
{% block content %}


{% endblock %} 
    </main>
  

</body>
</html>  